body{
    margin:0;
    background: black;
    color: white;
}
.title-page{
    display: block;
    width: 40%;
    margin: 40px 20%;
}

form{
    display: block;
    width: 80%;
    max-width: 750px;
    padding: 15px;
    margin: 80px auto;
    background: #5161D9;
    border-radius: 10px;
}

.carousel_display{
    width: 80%;
    margin: 20px auto;
}
form h3, form h5, form p{
    display: block;
    width: 80%;
    margin: 20px auto
}

.carousel_display img{
    height: 200px;
    object-fit: cover;
}

form a, form button{
    display: block;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    width: 250px;
    padding: 10px;
    color: white;
    margin:10px auto;
    text-align: center;
}