textarea{
    display: none;
}

body{
    background:black;
    color: white;
}

h1{
    display: block;
    text-align: start;
    color: white;
    margin: 100px 20%;
    width: 40%;
}

.reserv{
    display: block;
    width: 80%;
    max-width: 450px;
    margin: 40px auto;
    margin-bottom:80px;
    padding: 15px;
    background-color: #5161D9;
    border-radius: 10px;
}

form button{
    display: block;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    width: 250px;
    padding: 10px;
    color: white;
    margin:40px auto;
    text-align: center;
}