body{
    margin: 0;
    height: 1200px;
    background: black;
}

h3{
    width: 30%;
    max-width: 550px;
    text-align: start;
    margin: 80px 80px;
    color: white;
}

p{text-align: center; width: 80%;margin: 40px auto;}

.accountDone, .notAccound{
    padding: .5em;
    display: block;
    color: white;
    background:none;
    border: solid 1px #FFFFFF;
    border-radius: 5px;
    margin: 20px auto;
}

footer{
    margin-top: 150%;
}

.formLogin{
    display: none;
    width: 80%;
    max-width: 650px;
    padding: 15px;
    margin: auto;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
}

.formSingin{
    display: none;
    width: 80%;
    max-width: 650px;
    padding: 15px;
    margin: auto;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
}

label{
    display: block;
    color: white;
    font-size: 1.2em;
    text-align: center;
    margin: auto;
}

input{
    display: block;
    margin: 20px auto;
    color: black;
    background-color: white;
    padding: .5em;
    font-size: 1.2em;
}
.sub-btn{
    padding: .5em;
    display: block;
    color: white;
    background:none;
    border: solid 1px #FFFFFF;
    border-radius: 5px;
    margin: 20px auto;
}

@media (min-width:850px){
    footer{
        margin-top: 80%;
    }
}